{% extends 'base.html' %}

{% block title %}
hello!
{% endblock %}


{% block body %}
<div style="margin-left: 10px; margin-right: 100px;">
<h1>Hello User!</h1> <hr>
<div>
    <h2>Я — молодой перспективный специалист в области IT технологий.</h2>
    <p style="font-size: larger;">Всегда рад поделиться своим опытом и знаниями со всеми, кто интересуется данной сферой. На моем сайте Вы найдете множество полезных статей и материалов, которые помогут Вам лучше понять основы программирования, дизайна и других важных аспектов работы в IT индустрии.

    Подписывайтесь на обновления сайта и будьте в курсе всех актуальных новостей и событий в мире информационных технологий!</p>
<hr>
    Github: <a href="https://github.com/mishakuschenko
    ", target="_blank">https://github.com/mishakuschenko</a>
</div>
</div>
<script src="static/main.js"></script>
{% endblock %}
